@media (min-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes transfor {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(attr(data-before));
            transform: translateY(attr(data-before));
  }
}

@keyframes transfor {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(attr(data-before));
            transform: translateY(attr(data-before));
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInAccord {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAccord {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutAccord {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutAccord {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes h5Style {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
    display: none;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes h5Style {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
    display: none;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes widthImg {
  0% {
    width: 40px;
  }
  25% {
    width: 38px;
  }
  75% {
    width: 34px;
  }
  100% {
    width: 30px;
  }
}

@keyframes widthImg {
  0% {
    width: 40px;
  }
  25% {
    width: 38px;
  }
  75% {
    width: 34px;
  }
  100% {
    width: 30px;
  }
}

@-webkit-keyframes FadeOutwidthImg {
  0% {
    width: 30px;
  }
  25% {
    width: 34px;
  }
  75% {
    width: 38px;
  }
  100% {
    width: 40px;
  }
}

@keyframes FadeOutwidthImg {
  0% {
    width: 30px;
  }
  25% {
    width: 34px;
  }
  75% {
    width: 38px;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes FadeOuth5Style {
  from {
    display: -webkit-box;
    display: flex;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    display: none;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

@keyframes FadeOuth5Style {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    display: none;
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

.content {
  width: 100%;
}

@media (min-width: 1200px) {
  .content {
    -webkit-transition: opacity 0.5s ease-in, width 1.5s ease-out;
    transition: opacity 0.5s ease-in, width 1.5s ease-out;
    width: 1135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  border: 4px solid #2e9788;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 4.1%;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

@media (min-width: 1200px) {
  .content .panel {
    width: 1070px;
    margin-top: 100px;
    z-index: 10;
  }
}

@media (min-width: 2159px) {
  .content .panel {
    margin-top: 4.2%;
  }
}

@media (min-width: 2144px) {
  .content .panel {
    margin-top: 100px;
  }
}

.content .panel-env {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .panel-env button {
  border: none;
  background: none;
  outline: none;
  font-size: 175%;
  color: #979797;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1200px) {
  .content .panel-env button {
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    width: 3%;
  }
}

.content .panel-env button:hover {
  cursor: pointer;
}

.content .panel h1 {
  color: #2e9788;
}

@media (max-width: 1024px) {
  .content .panel h1 {
    font-size: 100%;
  }
}

.content .panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .content .panel-body {
    overflow: hidden;
    overflow-y: auto;
  }
}

.content .panel-body .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 110px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .content .panel-body .tabs {
    width: 70px;
  }
}

.content .panel-body .tabs .tabsLinks {
  border: none;
  outline: none;
  background: none;
  color: #2e9788;
  padding: 15%;
  font-size: 100%;
  border-bottom: 1px solid;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 210px;
}

.content .panel-body .tabs .tabsLinks:last-child {
  border: none !important;
}

@media (max-width: 1024px) {
  .content .panel-body .tabs .tabsLinks {
    width: 160%;
  }
}

.content .panel-body .contents {
  display: none;
  margin-left: 10%;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
  -webkit-animation: fadeIn 0.4s ease-in;
          animation: fadeIn 0.4s ease-in;
}

@media (max-width: 1024px) {
  .content .panel-body .contents {
    height: 175px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .content .panel-body .contents {
    margin-left: 19%;
  }
}

.content .panel-body .contents-right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-left: 5%;
}

.content .panel-body .contents-right img {
  width: 240px;
}

@media (max-width: 1024px) {
  .content .panel-body .contents-right img {
    width: 150px;
  }
}

.content .panel-body .contents-left {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  margin-left: 5%;
}

.content .panel-body .contents-left ul {
  list-style-type: none;
  color: #555;
  font-weight: bold;
}

.content .panel-body .contents-left ul li:before {
  content: "\2022";
  color: #2e9788;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 130%;
}

.content .accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  background: #2e9788;
  border: none;
  max-height: 442px;
}

@media (min-width: 1200px) {
  .content .accord {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170%;
    width: 121px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.content .accord:hover {
  cursor: pointer;
}

.content .accord:hover .accord-icon {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .content .accord:hover .accord-icon {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-top: 50%;
    padding-bottom: 50%;
  }
}

@media (min-width: 1200px) {
  .content .accord:hover .accord-title {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotate(-180deg) translateY(-22px);
            transform: rotate(-180deg) translateY(-22px);
  }
}

.content .accord-icon {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #247a6f;
  padding: 4%;
  padding-right: 0%;
  padding-left: 0%;
  border: none;
  outline: none;
}

@media (min-width: 1200px) {
  .content .accord-icon {
    padding: 19%;
    padding-top: 17px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    height: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 1500px) {
  .content .accord-icon {
    padding: 3px;
  }
}

@media (max-width: 1024px) {
  .content .accord-icon {
    padding: 2%;
  }
}

.content .accord-icon img {
  width: 50px;
}

@media (max-width: 360px) {
  .content .accord-icon img {
    width: 30px;
  }
}

.content .accord-icon h5 {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

@media (max-width: 1024px) {
  .content .accord-icon h5 {
    display: none;
  }
}

.content .accord-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 2%;
}

@media (min-width: 1200px) {
  .content .accord-title {
    margin-left: 5%;
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    direction: ltr;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 20%;
  }
}

.content .accord span {
  color: #fff;
  font-size: 115%;
  font-weight: bold;
}

.background {
  color: #fff !important;
}

.background::before {
  content: "";
  background: #2e9788;
  width: 20%;
  height: 13%;
  position: absolute;
  left: 1%;
  z-index: -1;
  margin-top: -1.5%;
  -webkit-animation: transfor 0.3s;
          animation: transfor 0.3s;
  -webkit-transition: -webkit-transform 100s;
  transition: -webkit-transform 100s;
  transition: transform 100s;
  transition: transform 100s, -webkit-transform 100s;
  -webkit-transform: translateY(attr(data-before));
          transform: translateY(attr(data-before));
}

@media (min-width: 1200px) {
  .active {
    background: #2e9788;
  }
  .disaleHover {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .disaleHover:hover {
    padding-top: 30% !important;
    padding-bottom: 103% !important;
  }
  .fadeIn {
    -webkit-animation: fadeIn 0.4s;
            animation: fadeIn 0.4s;
    opacity: 1;
  }
  .fadeOut {
    opacity: 0;
    -webkit-animation: fadeOut 0.4s;
            animation: fadeOut 0.4s;
  }
  .animateAccordHide {
    -webkit-animation: fadeOutAccord 0.1s;
            animation: fadeOutAccord 0.1s;
  }
  .animateAccordDisplay {
    -webkit-animation: fadeInAccord 0.3s;
            animation: fadeInAccord 0.3s;
  }
  .h5Style {
    -webkit-transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -webkit-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    -webkit-animation: h5Style 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
            animation: h5Style 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -moz-transform: translateY(0px) !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 0;
    padding-top: 20%;
  }
  .Outh5Style {
    -webkit-transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -webkit-animation: FadeOuth5Style 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
            animation: FadeOuth5Style 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -70%;
  }
  .animwidthImg {
    -webkit-transition: all 10s ease;
    transition: all 10s ease;
    -webkit-animation: widthImg 0.5s ease;
            animation: widthImg 0.5s ease;
    width: 30px !important;
  }
  .OutwidthImg {
    -webkit-transition: all 10s ease;
    transition: all 10s ease;
    -webkit-animation: FadeOutwidthImg 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
            animation: FadeOutwidthImg 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    width: 40px !important;
  }
}

.displayOuth5Style {
  display: none;
}

@-moz-document url-prefix() {
  .OutwidthImg {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animwidthImg {
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease;
    animation: widthImg 0.5s ease-in-out;
  }
  .content .accord {
    height: 900px;
  }
  .content .accord span {
    font-size: 95%;
  }
  .content .accord:hover .accord-title {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotate(-180deg) translateY(-22px);
    transform: rotate(-180deg) translateY(-8px);
  }
  @media (min-width: 1200px) {
    .content .panel {
      margin-top: 115px;
    }
  }
  .content .panel .panel-body .tabs .tabsLinks {
    padding: 10%;
  }
  .disaleHover:hover {
    padding-top: 14.3% !important;
  }
}
/*# sourceMappingURL=main.css.map */